In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../data/raw/fbdata_fbref.csv')
df.head()

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,aerial duels lost,season,team,hometeam,awayteam,b365h,b365d,b365a,over2.5,under2.5
0,2024-08-25,16:30,Premier League,Matchweek 2,Sun,Home,W,2.0,0.0,Brentford,...,8.0,2024-2025,Liverpool,Liverpool,Brentford,1.27,5.75,11.0,1.36,3.20
1,2024-09-14,15:00,Premier League,Matchweek 4,Sat,Home,L,0.0,1.0,Nottingham Forest,...,12.0,2024-2025,Liverpool,Liverpool,Nottingham Forest,1.22,6.50,12.0,1.44,2.75
2,2024-09-21,15:00,Premier League,Matchweek 5,Sat,Home,W,3.0,0.0,Bournemouth,...,6.0,2024-2025,Liverpool,Liverpool,Bournemouth,1.30,6.25,9.0,1.36,3.20
3,2024-10-20,16:30,Premier League,Matchweek 8,Sun,Home,W,2.0,1.0,Chelsea,...,10.0,2024-2025,Liverpool,Liverpool,Chelsea,1.62,4.10,5.0,1.40,3.00
4,2024-11-02,15:00,Premier League,Matchweek 10,Sat,Home,W,2.0,1.0,Brighton and Hove Albion,...,8.0,2024-2025,Liverpool,Liverpool,Brighton and Hove Albion,1.40,5.00,7.5,1.40,3.00

In [4]:
df.drop(columns=['hometeam', 'awayteam', 'comp', 'match report', 'notes'], inplace=True)
df['round'] = df['round'].str.extract('(\d+)').astype(int)
df['date'] = pd.to_datetime(df['date'])
df['day'] = df['date'].dt.dayofweek
df['time'] = df['time'].str.replace(':.+', '', regex=True).astype(int)
df['venue'] = df['venue'].astype('category').cat.codes
df

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,performance recov,aerial duels won,aerial duels lost,season,team,b365h,b365d,b365a,over2.5,under2.5
0,2024-08-25,16,2,6,1,W,2.0,0.0,Brentford,2.5,...,47.0,6.0,8.0,2024-2025,Liverpool,1.27,5.75,11.00,1.36,3.20
1,2024-09-14,15,4,5,1,L,0.0,1.0,Nottingham Forest,0.9,...,47.0,21.0,12.0,2024-2025,Liverpool,1.22,6.50,12.00,1.44,2.75
2,2024-09-21,15,5,5,1,W,3.0,0.0,Bournemouth,2.0,...,44.0,9.0,6.0,2024-2025,Liverpool,1.30,6.25,9.00,1.36,3.20
3,2024-10-20,16,8,6,1,W,2.0,1.0,Chelsea,1.9,...,40.0,6.0,10.0,2024-2025,Liverpool,1.62,4.10,5.00,1.40,3.00
4,2024-11-02,15,10,5,1,W,2.0,1.0,Brighton and Hove Albion,1.6,...,46.0,10.0,8.0,2024-2025,Liverpool,1.40,5.00,7.50,1.40,3.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5515,2018-03-03,15,29,5,0,L,0.0,1.0,Watford,1.1,...,54.0,38.0,23.0,2017-2018,West Bromwich Albion,2.14,3.29,3.89,2.18,1.69
5516,2018-03-17,15,31,5,0,L,1.0,2.0,Bournemouth,1.6,...,68.0,19.0,17.0,2017-2018,West Bromwich Albion,1.83,3.60,5.00,1.95,1.87
5517,2018-04-15,16,34,6,0,W,1.0,0.0,Manchester United,0.7,...,57.0,14.0,15.0,2017-2018,West Bromwich Albion,1.18,8.00,19.00,1.66,2.23
5518,2018-04-28,15,36,5,0,W,1.0,0.0,Newcastle United,0.7,...,56.0,20.0,28.0,2017-2018,West Bromwich Albion,1.85,3.60,4.75,2.15,1.70
5519,2018-05-13,15,38,6,0,L,0.0,2.0,Crystal Palace,0.2,...,64.0,12.0,13.0,2017-2018,West Bromwich Albion,1.80,3.79,4.75,1.75,2.07

In [5]:
# move column opponent to next to team
cols = ['team', 'opponent', 'venue'] + [col for col in df if col not in ['team', 'opponent', 'venue']]
df = df[cols]
df.head()

,team,opponent,venue,date,time,round,day,result,gf,ga,...,performance og,performance recov,aerial duels won,aerial duels lost,season,b365h,b365d,b365a,over2.5,under2.5
0,Liverpool,Brentford,1,2024-08-25,16,2,6,W,2.0,0.0,...,0.0,47.0,6.0,8.0,2024-2025,1.27,5.75,11.0,1.36,3.20
1,Liverpool,Nottingham Forest,1,2024-09-14,15,4,5,L,0.0,1.0,...,0.0,47.0,21.0,12.0,2024-2025,1.22,6.50,12.0,1.44,2.75
2,Liverpool,Bournemouth,1,2024-09-21,15,5,5,W,3.0,0.0,...,0.0,44.0,9.0,6.0,2024-2025,1.30,6.25,9.0,1.36,3.20
3,Liverpool,Chelsea,1,2024-10-20,16,8,6,W,2.0,1.0,...,0.0,40.0,6.0,10.0,2024-2025,1.62,4.10,5.0,1.40,3.00
4,Liverpool,Brighton and Hove Albion,1,2024-11-02,15,10,5,W,2.0,1.0,...,0.0,46.0,10.0,8.0,2024-2025,1.40,5.00,7.5,1.40,3.00

In [6]:
df['team'].value_counts()

team
Liverpool                   276
Brighton and Hove Albion    276
Crystal Palace              276
Manchester City             276
West Ham United             276
Manchester United           276
Newcastle United            276
Everton                     276
Tottenham Hotspur           276
Arsenal                     276
Chelsea                     276
Wolverhampton Wanderers     238
Southampton                 238
Leicester City              238
Burnley                     228
Aston Villa                 200
Bournemouth                 200
Fulham                      162
Watford                     152
Brentford                   124
Sheffield United            114
Leeds United                114
Nottingham Forest            86
Norwich City                 76
West Bromwich Albion         76
Huddersfield Town            76
Luton Town                   38
Cardiff City                 38
Swansea City                 38
Stoke City                   38
Ipswich Town                 10
Name: count, dtype: int64

In [7]:
result_map = {'W': 3, 'D': 1, 'L': 0}
df['result'] = df['result'].map(result_map)

In [8]:

# get the points of a team after a certain round in a season
def get_points(team, season, round):
    season_games = df[(df['team'] == team) & (df['season'] == season) & (df['round'] <= round)]
    if season_games.empty:
        return 0 
    points = season_games['result'].sum()
    return points

get_points('Manchester United', '2024-2025', 10)

12

In [9]:
df['points'] = df.apply(lambda x: get_points(x['team'], x['season'], x['round']), axis=1)
df['points_before_match'] = df.apply(lambda x: get_points(x['team'], x['season'], x['round']) - x['result'], axis=1)
df.head(10)

,team,opponent,venue,date,time,round,day,result,gf,ga,...,aerial duels won,aerial duels lost,season,b365h,b365d,b365a,over2.5,under2.5,points,points_before_match
0,Liverpool,Brentford,1,2024-08-25,16,2,6,3,2.0,0.0,...,6.0,8.0,2024-2025,1.27,5.75,11.0,1.36,3.20,6,3
1,Liverpool,Nottingham Forest,1,2024-09-14,15,4,5,0,0.0,1.0,...,21.0,12.0,2024-2025,1.22,6.50,12.0,1.44,2.75,9,9
2,Liverpool,Bournemouth,1,2024-09-21,15,5,5,3,3.0,0.0,...,9.0,6.0,2024-2025,1.30,6.25,9.0,1.36,3.20,12,9
3,Liverpool,Chelsea,1,2024-10-20,16,8,6,3,2.0,1.0,...,6.0,10.0,2024-2025,1.62,4.10,5.0,1.40,3.00,21,18
4,Liverpool,Brighton and Hove Albion,1,2024-11-02,15,10,5,3,2.0,1.0,...,10.0,8.0,2024-2025,1.40,5.00,7.5,1.40,3.00,25,22
5,Manchester City,Ipswich Town,1,2024-08-24,15,2,5,3,4.0,1.0,...,5.0,7.0,2024-2025,1.08,12.00,21.0,1.30,3.50,6,3
6,Manchester City,Brentford,1,2024-09-14,15,4,5,3,2.0,1.0,...,6.0,11.0,2024-2025,1.18,8.00,12.0,1.36,3.20,12,9
7,Manchester City,Arsenal,1,2024-09-22,16,5,6,1,2.0,2.0,...,16.0,11.0,2024-2025,1.80,3.60,4.5,2.04,1.86,13,12
8,Manchester City,Fulham,1,2024-10-05,15,7,5,3,3.0,2.0,...,7.0,5.0,2024-2025,1.25,7.00,9.5,1.44,2.75,17,14
9,Manchester City,Southampton,1,2024-10-26,15,9,5,3,1.0,0.0,...,6.0,8.0,2024-2025,1.11,10.00,17.0,1.29,3.75,23,20

In [10]:
def fix_formation(formation):
    parts = formation.split('-')[:-1]
    last = 10 - sum(int(num) for num in parts)
    formation = '-'.join(parts)
    if last:
        formation += f'-{last}'
    return formation

df['formation'] = df['formation'].apply(fix_formation)
df['formation'].value_counts()

formation
4-2-3-1      1541
4-3-3        1135
4-4-2         647
3-4-3         633
4-4-1-1       301
3-5-2         279
4-1-4-1       262
5-4-1         130
5-3-2         104
3-4-1-2        91
4-5-1          80
4-2-2-2        65
4-1-2-1-2      54
3-5-1-1        51
4-3-1-2        49
3-1-4-2        30
4-3-2-1        28
3-2-4-1        24
3-3-3-1        12
4-2-4           2
4-1-3-2         2
Name: count, dtype: int64

In [11]:
len(df['team'].unique())

31

In [13]:
df.to_csv('../../data/transformed/data4visualize.csv', index=False)

In [108]:
# arrange team on the order of points over all seasons 
team_order = df.groupby('team')['points'].sum().sort_values(ascending=False).index
team_order

Index(['Manchester City', 'Liverpool', 'Arsenal', 'Manchester United',
       'Tottenham Hotspur', 'Chelsea', 'West Ham United',
       'Brighton and Hove Albion', 'Newcastle United', 'Everton',
       'Leicester City', 'Crystal Palace', 'Wolverhampton Wanderers',
       'Aston Villa', 'Southampton', 'Burnley', 'Bournemouth', 'Watford',
       'Fulham', 'Brentford', 'Leeds United', 'Sheffield United',
       'Nottingham Forest', 'Huddersfield Town', 'West Bromwich Albion',
       'Norwich City', 'Stoke City', 'Swansea City', 'Cardiff City',
       'Luton Town', 'Ipswich Town'],
      dtype='object', name='team')

In [182]:
# base on team_order to encode team
team_map = {team: i for i, team in enumerate(team_order)}
team_map

{'Manchester City': 0,
 'Liverpool': 1,
 'Arsenal': 2,
 'Manchester United': 3,
 'Tottenham Hotspur': 4,
 'Chelsea': 5,
 'West Ham United': 6,
 'Brighton and Hove Albion': 7,
 'Newcastle United': 8,
 'Everton': 9,
 'Leicester City': 10,
 'Crystal Palace': 11,
 'Wolverhampton Wanderers': 12,
 'Aston Villa': 13,
 'Southampton': 14,
 'Burnley': 15,
 'Bournemouth': 16,
 'Watford': 17,
 'Fulham': 18,
 'Brentford': 19,
 'Leeds United': 20,
 'Sheffield United': 21,
 'Nottingham Forest': 22,
 'Huddersfield Town': 23,
 'West Bromwich Albion': 24,
 'Norwich City': 25,
 'Stoke City': 26,
 'Swansea City': 27,
 'Cardiff City': 28,
 'Luton Town': 29,
 'Ipswich Town': 30}

In [14]:
df['team'] = df['team'].map(team_map)
df['opponent'] = df['opponent'].map(team_map)
df

,team,opponent,venue,date,time,round,day,result,gf,ga,...,aerial duels won,aerial duels lost,season,b365h,b365d,b365a,over2.5,under2.5,points,points_before_match
0,1,19,1,2024-08-25,16,2,6,3,2.0,0.0,...,6.0,8.0,2024-2025,1.27,5.75,11.00,1.36,3.20,6,3
1,1,22,1,2024-09-14,15,4,5,0,0.0,1.0,...,21.0,12.0,2024-2025,1.22,6.50,12.00,1.44,2.75,9,9
2,1,16,1,2024-09-21,15,5,5,3,3.0,0.0,...,9.0,6.0,2024-2025,1.30,6.25,9.00,1.36,3.20,12,9
3,1,5,1,2024-10-20,16,8,6,3,2.0,1.0,...,6.0,10.0,2024-2025,1.62,4.10,5.00,1.40,3.00,21,18
4,1,7,1,2024-11-02,15,10,5,3,2.0,1.0,...,10.0,8.0,2024-2025,1.40,5.00,7.50,1.40,3.00,25,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5515,24,17,0,2018-03-03,15,29,5,0,0.0,1.0,...,38.0,23.0,2017-2018,2.14,3.29,3.89,2.18,1.69,20,20
5516,24,16,0,2018-03-17,15,31,5,0,1.0,2.0,...,19.0,17.0,2017-2018,1.83,3.60,5.00,1.95,1.87,20,20
5517,24,3,0,2018-04-15,16,34,6,3,1.0,0.0,...,14.0,15.0,2017-2018,1.18,8.00,19.00,1.66,2.23,24,21
5518,24,8,0,2018-04-28,15,36,5,3,1.0,0.0,...,20.0,28.0,2017-2018,1.85,3.60,4.75,2.15,1.70,28,25
5519,24,11,0,2018-05-13,15,38,6,0,0.0,2.0,...,12.0,13.0,2017-2018,1.80,3.79,4.75,1.75,2.07,31,31

In [16]:
# formation_order = df['formation'].value_counts().index
# formation_map = {formation: i for i, formation in enumerate(formation_order)}
# df['formation'] = df['formation'].map(formation_map)
# df.head()

In [17]:
# Because in df, a match is counted twice => just get df[df['venue] == 0 or 1] for calculate about referee, formation,...
sub_df = df[df['venue'] == 1]

In [18]:
# get n/N * avg(gf - ga) for each formation
def pre_formation(formation):
    N = len(sub_df)
    games = sub_df[sub_df['formation'] == formation]
    n = len(games)
    return n/N * (games['gf'].mean() - games['ga'].mean())

pre_formation('4-3-3')

0.19528985507246377

In [19]:
formations = df['formation'].unique()
formation_rank = {formation: pre_formation(formation) for formation in formations}
formation_rank = {k: v for k, v in sorted(formation_rank.items(), key=lambda item: item[1], reverse=True)}
formation_rank

{'4-3-3': 0.19528985507246377,
 '4-2-3-1': 0.11231884057971016,
 '3-4-3': 0.03188405797101449,
 '3-2-4-1': 0.007246376811594203,
 '4-1-4-1': 0.006884057971014489,
 '3-4-1-2': 0.003985507246376812,
 '3-1-4-2': 0.002536231884057971,
 '3-3-3-1': 0.0014492753623188408,
 '4-2-2-2': 0.0010869565217391313,
 '4-2-4': 0.0007246376811594203,
 '4-1-3-2': 0.00036231884057971015,
 '4-1-2-1-2': 0.0,
 '4-3-1-2': -0.00036231884057971107,
 '4-3-2-1': -0.0018115942028985507,
 '4-4-1-1': -0.005797101449275363,
 '3-5-1-1': -0.006159420289855073,
 '5-4-1': -0.011594202898550725,
 '4-4-2': -0.012681159420289854,
 '4-5-1': -0.013043478260869565,
 '5-3-2': -0.01666666666666667,
 '3-5-2': -0.017028985507246377}

In [20]:
formation_order = list(formation_rank.keys())
formation_map = {formation: i for i, formation in enumerate(formation_order)}
df['formation'] = df['formation'].map(formation_map)
df['opp formation'] = df['opp formation'].map(formation_map)

In [21]:
sub_df['referee'].value_counts()

referee
Anthony Taylor       213
Michael Oliver       209
Paul Tierney         168
Craig Pawson         168
Stuart Attwell       146
Chris Kavanagh       145
Martin Atkinson      141
Andre Marriner       135
Mike Dean            132
Jonathan Moss        131
Kevin Friend         116
David Coote          111
Simon Hooper         106
Andy Madley           97
Graham Scott          93
Robert Jones          77
Peter Bankes          75
Lee Mason             64
Darren England        60
Jarred Gillett        51
John Brooks           49
Lee Probert           32
Michael Salisbury     32
Tim Robinson          29
Roger East            28
Tony Harrington       25
Samuel Barrott        21
Robert Madley         20
Niel Swarbrick        20
Thomas Bramall        19
Darren Bond           13
Mike Jones            12
Joshua Smith           7
Samuel Allison         5
Lewis Smith            4
Matt Donohue           2
Rebecca Welch          2
Oliver Langford        1
Sunny Singh            1
Name: count, dtype: int64

In [22]:
# get n/N * avg(gf - ga) of a certain referee
def pre_referee(referee):
    N = len(sub_df)
    games = sub_df[(sub_df['referee'] == referee)]
    n = len(games)
    return n/N * (games['gf'].mean() - games['ga'].mean())

pre_referee('Anthony Taylor')

0.01811594202898551

In [23]:
referees = sub_df['referee'].unique()
referee_rank = {referee: pre_referee(referee) for referee in referees}
referee_rank = {k: v for k, v in sorted(referee_rank.items(), key=lambda item: item[1], reverse=True)}
referee_rank

{'Stuart Attwell': 0.02391304347826087,
 'Anthony Taylor': 0.01811594202898551,
 'Mike Dean': 0.01811594202898551,
 'Simon Hooper': 0.017391304347826084,
 'Andy Madley': 0.01702898550724638,
 'Peter Bankes': 0.014855072463768118,
 'David Coote': 0.014492753623188408,
 'Kevin Friend': 0.014492753623188406,
 'Graham Scott': 0.01376811594202898,
 'Lee Mason': 0.011956521739130435,
 'Paul Tierney': 0.011594202898550725,
 'Robert Jones': 0.011594202898550721,
 'Tim Robinson': 0.009057971014492754,
 'Jonathan Moss': 0.009057971014492754,
 'Craig Pawson': 0.008695652173913054,
 'Roger East': 0.008333333333333333,
 'Chris Kavanagh': 0.007608695652173916,
 'Martin Atkinson': 0.007246376811594202,
 'John Brooks': 0.006521739130434782,
 'Michael Oliver': 0.005797101449275359,
 'Tony Harrington': 0.0050724637681159425,
 'Mike Jones': 0.004710144927536232,
 'Darren England': 0.003623188405797103,
 'Thomas Bramall': 0.003623188405797102,
 'Michael Salisbury': 0.0036231884057971015,
 'Joshua Smith': 0.0036231884057971006,
 'Lee Probert': 0.0032608695652173916,
 'Niel Swarbrick': 0.002898550724637682,
 'Darren Bond': 0.0028985507246376816,
 'Samuel Barrott': 0.0018115942028985512,
 'Robert Madley': 0.0018115942028985507,
 'Lewis Smith': 0.0010869565217391304,
 'Samuel Allison': 0.0007246376811594205,
 'Sunny Singh': 0.0,
 'Oliver Langford': 0.0,
 'Rebecca Welch': -0.0007246376811594203,
 'Matt Donohue': -0.0010869565217391304,
 'Jarred Gillett': -0.0025362318840579704,
 'Andre Marriner': -0.005434782608695655}

In [24]:
referee_map = {referee: i for i, referee in enumerate(referee_rank.keys())}
df['referee'] = df['referee'].map(referee_map)

In [25]:
df['referee'].value_counts()

referee
1     426
19    418
10    336
14    336
0     292
16    290
17    282
38    270
2     264
13    262
7     232
6     222
3     212
4     194
8     186
11    154
5     150
9     128
22    120
37    102
18     98
26     64
24     64
12     58
15     56
20     50
29     42
30     40
27     40
23     38
28     26
21     24
25     14
32     10
31      8
36      4
35      4
34      2
33      2
Name: count, dtype: int64

In [26]:
df['captain'].value_counts(), len(df['captain'].unique())

(captain
 Lewis Dunk           212
 Hugo Lloris          190
 Conor Coady          152
 César Azpilicueta    152
 Jamaal Lascelles     144
                     ...
 André Ayew             1
 Joe Allen              1
 Gareth McAuley         1
 Moisés Caicedo         1
 James McClean          1
 Name: count, Length: 252, dtype: int64,
 252)

In [27]:
# n/N * avg(gf - ga) 
def pre_captain(captain):
    N = len(df)
    league_mean = sub_df['gf'].mean() - sub_df['ga'].mean()
    games = df[(df['captain'] == captain)]
    n = len(games)
    return n/N * (games['gf'].mean() - games['ga'].mean())

pre_captain('Harry Maguire')

0.011594202898550723

In [28]:
captains = df['captain'].unique()
captain_rank = {captain: pre_captain(captain) for captain in captains}
captain_rank = {k: v for k, v in sorted(captain_rank.items(), key=lambda item: item[1], reverse=True)}
captain_rank

{'Jordan Henderson': 0.033876811594202895,
 'Hugo Lloris': 0.024275362318840577,
 'David Silva': 0.02101449275362319,
 'Martin Ødegaard': 0.01902173913043478,
 'Virgil van Dijk': 0.01648550724637681,
 'İlkay Gündoğan': 0.015217391304347825,
 'César Azpilicueta': 0.01286231884057971,
 'Fernandinho': 0.012681159420289856,
 'Kevin De Bruyne': 0.012318840579710144,
 'Harry Maguire': 0.011594202898550723,
 'Vincent Kompany': 0.009420289855072463,
 'Kasper Schmeichel': 0.008695652173913038,
 'Kieran Trippier': 0.008514492753623188,
 'Kyle Walker': 0.0077898550724637685,
 'James Milner': 0.007246376811594202,
 'Antonio Valencia': 0.006159420289855072,
 'Jorginho': 0.005072463768115943,
 'Rúben Dias': 0.0039855072463768106,
 'Son Heung-min': 0.0038043478260869567,
 'Declan Rice': 0.0038043478260869554,
 'Conor Gallagher': 0.003623188405797102,
 'Alexandre Lacazette': 0.0034420289855072467,
 'John McGinn': 0.0028985507246376816,
 'Raheem Sterling': 0.0028985507246376808,
 'Laurent Koscielny': 0.0028985507246376808,
 'Pierre-Emerick Aubameyang': 0.002717391304347824,
 'Petr Čech': 0.002173913043478261,
 'David de Gea': 0.0019927536231884057,
 'Georginio Wijnaldum': 0.0018115942028985507,
 'Bruno Fernandes': 0.0016304347826086969,
 'Harry Kane': 0.0014492753623188406,
 "N'Golo Kanté": 0.0014492753623188406,
 'Wayne Rooney': 0.0014492753623188406,
 'Ashley Young': 0.0014492753623188404,
 'Dan Burn': 0.0014492753623188402,
 'Enzo Fernández': 0.0012681159420289856,
 'Simon Mignolet': 0.0012681159420289856,
 'Bukayo Saka': 0.0010869565217391307,
 'Mathias Jensen': 0.0010869565217391304,
 'David Raya': 0.0009057971014492754,
 'Philippe Coutinho': 0.0009057971014492754,
 'Gary Cahill': 0.0009057971014492746,
 'Bernd Leno': 0.0007246376811594207,
 'Youri Tielemans': 0.0007246376811594207,
 'Thiago Silva': 0.0007246376811594206,
 'Mesut Özil': 0.0007246376811594203,
 'Emiliano Martínez': 0.0007246376811594202,
 'Granit Xhaka': 0.0005434782608695654,
 'Trent Alexander-Arnold': 0.0005434782608695652,
 'Cristian Romero': 0.0005434782608695652,
 'Harrison Reed': 0.0005434782608695652,
 'Marcos Alonso': 0.0005434782608695652,
 'Nacho Monreal': 0.0005434782608695652,
 'Sergio Agüero': 0.0005434782608695652,
 'Per Mertesacker': 0.0005434782608695652,
 'Jack Wilshere': 0.0005434782608695652,
 'Paul Pogba': 0.0003623188405797103,
 'Héctor Bellerín': 0.00036231884057971026,
 'Callum Wilson': 0.00036231884057971015,
 'Willian': 0.00036231884057971015,
 'Yaya Touré': 0.00036231884057971015,
 'Tom Heaton': 0.0003623188405797099,
 'Pascal Groß': 0.00018115942028985526,
 'James McArthur': 0.00018115942028985524,
 'Aaron Ramsey': 0.00018115942028985524,
 'Oriol Romeu': 0.00018115942028985516,
 'Leon Britton': 0.0001811594202898551,
 "Amari'i Bell": 0.00018115942028985507,
 'Tom Cleverley': 0.00018115942028985507,
 'Michael Carrick': 0.00018115942028985507,
 'Dejan Lovren': 0.00018115942028985507,
 'Mamadou Sakho': 0.00018115942028985507,
 'Moisés Caicedo': 0.00018115942028985507,
 'José Sá': 0.00018115942028985507,
 'Oleksandr Zinchenko': 0.00018115942028985507,
 'Roberto Firmino': 0.00018115942028985507,
 'Emre Can': 0.00018115942028985507,
 'Yohan Cabaye': 0.00018115942028985507,
 'Chris Brunt': 0.00018115942028985505,
 'Lucas Digne': 0.0001811594202898549,
 'Lewis Cook': 0.0,
 'Bruno Guimarães': 0.0,
 'Nélson Semedo': 0.0,
 'Tomáš Souček': 0.0,
 'Angelo Ogbonna': 0.0,
 'Łukasz Fabiański': 0.0,
 'Mateo Kovačić': 0.0,
 'Ezri Konsa': 0.0,
 'Nemanja Matić': 0.0,
 'Rob Holding': 0.0,
 'Chris Smalling': 0.0,
 'Paul Dummett': 0.0,
 'Charlie Daniels': 0.0,
 'Shane Duffy': 0.0,
 'Ben Davies': 0.0,
 'James Collins': 0.0,
 'Adam Webster': -0.00018115942028985505,
 'Tom Davies': -0.00018115942028985505,
 'Michael Keane': -0.00018115942028985505,
 'Danny Welbeck': -0.00018115942028985507,
 'Scott McTominay': -0.00018115942028985507,
 'Pelly Ruddock Mpanzu': -0.00018115942028985507,
 'Wilfried Zaha': -0.00018115942028985507,
 'Kepa Arrizabalaga': -0.00018115942028985507,
 'Yerry Mina': -0.00018115942028985507,
 'Mason Holgate': -0.00018115942028985507,
 'Toby Alderweireld': -0.00018115942028985507,
 'Harry Winks': -0.00018115942028985507,
 'Nathan Aké': -0.00018115942028985507,
 'Fabian Delph': -0.00018115942028985507,
 'Sol Bamba': -0.00018115942028985507,
 'André Ayew': -0.00018115942028985507,
 'Joe Allen': -0.00018115942028985507,
 'Gareth McAuley': -0.00018115942028985507,
 'Conor Chaplin': -0.00018115942028985507,
 'Andrew Robertson': -0.00018115942028985507,
 'Levi Colwill': -0.00018115942028985507,
 'Fabian Schär': -0.00018115942028985507,
 'Branislav Ivanović': -0.00018115942028985507,
 'Jan Vertonghen': -0.00018115942028985507,
 'Patrick Bamford': -0.00018115942028985516,
 'Wes Morgan': -0.00036231884057970896,
 'Christian Nørgaard': -0.0003623188405797096,
 'Reece James': -0.00036231884057971015,
 'Wilfred Ndidi': -0.00036231884057971015,
 'William Troost-Ekong': -0.00036231884057971015,
 'Ciaran Clark': -0.00036231884057971015,
 'Gabriel Magalhães': -0.00036231884057971015,
 'Marc Albrighton': -0.00036231884057971015,
 'Andy Carroll': -0.00036231884057971015,
 'Gareth Barry': -0.00036231884057971015,
 'James Tomkins': -0.0003623188405797102,
 'Craig Cathcart': -0.0003623188405797102,
 'Jack Butland': -0.0003623188405797102,
 'Heurelho Gomes': -0.0003623188405797103,
 'Morgan Gibbs-White': -0.0003623188405797105,
 'Adam Lallana': -0.0005434782608695649,
 'Vitaly Janelt': -0.0005434782608695652,
 'Ben Chilwell': -0.0005434782608695652,
 'Serge Aurier': -0.0005434782608695652,
 'Rodrigo': -0.0005434782608695652,
 'Cristiano Ronaldo': -0.0005434782608695652,
 'Timm Klose': -0.0005434782608695652,
 'Marko Arnautović': -0.0005434782608695652,
 'Aleksandar Mitrović': -0.0005434782608695652,
 'Àngel Rangel': -0.0005434782608695652,
 'Douglas Luiz': -0.0005434782608695652,
 'Chris Basham': -0.0005434782608695652,
 'Robin Koch': -0.0005434782608695652,
 'James McClean': -0.0005434782608695652,
 'Pablo Zabaleta': -0.0005434782608695653,
 'Ivan Toney': -0.0005434782608695655,
 'Joel Ward': -0.0007246376811594198,
 'Dale Stephens': -0.0007246376811594203,
 'Jack Cork': -0.0007246376811594203,
 'Ben Foster': -0.0007246376811594203,
 'Casemiro': -0.0007246376811594203,
 'Asmir Begović': -0.0007246376811594203,
 'Christian Fuchs': -0.0007246376811594203,
 'Aaron Mooy': -0.0007246376811594203,
 'Dan Gosling': -0.0007246376811594204,
 'Jamie Vardy': -0.0007246376811594205,
 'Scott Dann': -0.0007246376811594205,
 'Tyrone Mings': -0.000724637681159421,
 'David McGoldrick': -0.0009057971014492753,
 'Wilfried Bony': -0.0009057971014492753,
 'Flynn Downes': -0.0009057971014492754,
 'Oliver McBurnie': -0.0009057971014492754,
 'João Moutinho': -0.0009057971014492754,
 'Remo Freuler': -0.0009057971014492754,
 'Ashley Williams': -0.0009057971014492754,
 'Winston Reid': -0.0009057971014492754,
 'Felipe': -0.0009057971014492754,
 'Ryan Yates': -0.0009057971014492759,
 'Jarrod Bowen': -0.0010869565217391302,
 'Bobby Reid': -0.0010869565217391304,
 'James Maddison': -0.0010869565217391304,
 'Ben Godfrey': -0.0010869565217391304,
 'Maya Yoshida': -0.0010869565217391304,
 'Oliver Arblaster': -0.0010869565217391304,
 'Marc Guéhi': -0.0012681159420289852,
 'Leighton Baines': -0.0012681159420289852,
 'Steven Davis': -0.0012681159420289852,
 'Marcus Bettinelli': -0.0012681159420289854,
 'Jack Stephens': -0.0012681159420289856,
 'Tim Ream': -0.0012681159420289856,
 'Conor Coady': -0.0014492753623188389,
 'Joachim Andersen': -0.0014492753623188404,
 'Jonjo Shelvey': -0.0014492753623188404,
 'Étienne Capoue': -0.0014492753623188406,
 'Christoph Zimmermann': -0.0014492753623188406,
 'Adrian Mariappa': -0.0014492753623188406,
 'Kevin McDonald': -0.0014492753623188406,
 'Oliver Norwood': -0.001449275362318841,
 'Pontus Jansson': -0.0016304347826086956,
 'Ashley Westwood': -0.0016304347826086958,
 'Matt Phillips': -0.0016304347826086958,
 'Aaron Cresswell': -0.0018115942028985505,
 'Sam Morsy': -0.0018115942028985507,
 'Jack Robinson': -0.0018115942028985507,
 'Ben Gibson': -0.0018115942028985507,
 'Adam Smith': -0.001811594202898551,
 'Jack Grealish': -0.0018115942028985514,
 'Kyle Bartley': -0.001992753623188406,
 'Josh Cullen': -0.002173913043478261,
 'Gylfi Sigurðsson': -0.002173913043478261,
 'Phil Jagielka': -0.002173913043478261,
 'Jason Puncheon': -0.002173913043478261,
 'Mario Lemina': -0.0023550724637681156,
 'Tom Lockyer': -0.0023550724637681156,
 'Ryan Shawcross': -0.0023550724637681156,
 'Kurt Zouma': -0.002355072463768116,
 'Jordan Pickford': -0.002355072463768116,
 'Steve Cook': -0.0025362318840579704,
 'Billy Sharp': -0.0028985507246376808,
 'Andrew Surman': -0.002898550724637681,
 'Lloyd Kelly': -0.003079710144927536,
 'Joe Worrall': -0.003079710144927536,
 'Darren Fletcher': -0.003079710144927536,
 'Bruno': -0.003079710144927537,
 'Jake Livermore': -0.003260869565217391,
 'Pierre Højbjerg': -0.0032608695652173916,
 'Max Kilman': -0.0034420289855072463,
 'Neto': -0.0034420289855072467,
 'Rúben Neves': -0.0034420289855072467,
 'Alexander Tettey': -0.0034420289855072467,
 'Anel Ahmedhodžić': -0.0036231884057971006,
 'Carlton Morris': -0.003623188405797101,
 'Liam Cooper': -0.0036231884057971032,
 'Ryan Bertrand': -0.0038043478260869567,
 'Séamus Coleman': -0.003985507246376811,
 'Mark Noble': -0.003985507246376811,
 'Jonathan Hogg': -0.003985507246376811,
 'James Tarkowski': -0.004347826086956522,
 'Simon Francis': -0.004347826086956522,
 'Christopher Schindler': -0.004347826086956522,
 'Josh Brownhill': -0.004528985507246376,
 'Jonny Evans': -0.004710144927536231,
 'Lewis Dunk': -0.004891304347826084,
 'Luke Ayling': -0.005797101449275364,
 'Sean Morrison': -0.006159420289855073,
 'Tommy Smith': -0.006159420289855073,
 'Troy Deeney': -0.006521739130434782,
 'Tom Cairney': -0.006702898550724639,
 'Federico Fernández': -0.006884057971014493,
 'John Egan': -0.007065217391304348,
 'Moussa Sissoko': -0.007246376811594201,
 'Jamaal Lascelles': -0.007246376811594206,
 'Luka Milivojević': -0.007971014492753626,
 'Ben Mee': -0.009601449275362318,
 'Grant Hanley': -0.011594202898550723,
 'James Ward-Prowse': -0.014492753623188403}

In [29]:
captain_map = {captain: i for i, captain in enumerate(captain_rank.keys())}
df['captain'] = df['captain'].map(captain_map)
df['captain'].value_counts()

captain
238    212
1      190
186    152
6      152
247    144
      ...
111      1
112      1
113      1
72       1
149      1
Name: count, Length: 252, dtype: int64

In [ ]:
df.to_csv('../../data/transformed/after_preprocess.csv', index=False)