In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('new_matches.csv')
df.head()

,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,...,Performance Int,Performance TklW,Performance PKwon,Performance PKcon,Performance OG,Performance Recov,Aerial Duels Won,Aerial Duels Lost,Season,Team
0,2024-08-17,12:30,Premier League,Matchweek 1,Sat,Away,W,2.0,0.0,Ipswich Town,...,5.0,4.0,0.0,0.0,0.0,40.0,18.0,11.0,2024-2025,Liverpool
1,2024-08-25,16:30,Premier League,Matchweek 2,Sun,Home,W,2.0,0.0,Brentford,...,7.0,10.0,0.0,0.0,0.0,47.0,6.0,8.0,2024-2025,Liverpool
2,2024-09-01,16:00,Premier League,Matchweek 3,Sun,Away,W,3.0,0.0,Manchester Utd,...,10.0,17.0,0.0,0.0,0.0,53.0,13.0,5.0,2024-2025,Liverpool
3,2024-09-14,15:00,Premier League,Matchweek 4,Sat,Home,L,0.0,1.0,Nott'ham Forest,...,11.0,8.0,0.0,0.0,0.0,47.0,21.0,12.0,2024-2025,Liverpool
4,2024-09-21,15:00,Premier League,Matchweek 5,Sat,Home,W,3.0,0.0,Bournemouth,...,6.0,14.0,0.0,0.0,0.0,44.0,9.0,6.0,2024-2025,Liverpool

In [12]:
# turn df columns to lower
df.columns = df.columns.str.lower()
df.columns

Index(['date', 'time', 'comp', 'round', 'day', 'venue', 'result', 'gf', 'ga',
       'opponent',
       ...
       'performance int', 'performance tklw', 'performance pkwon',
       'performance pkcon', 'performance og', 'performance recov',
       'aerial duels won', 'aerial duels lost', 'season', 'team'],
      dtype='object', length=135)

In [13]:
df['team'].value_counts()

team
Liverpool                   276
Brighton and Hove Albion    276
Crystal Palace              276
Manchester City             276
West Ham United             276
Manchester United           276
Newcastle United            276
Everton                     276
Tottenham Hotspur           276
Arsenal                     276
Chelsea                     276
Wolverhampton Wanderers     238
Southampton                 238
Leicester City              238
Burnley                     228
Aston Villa                 200
Bournemouth                 200
Fulham                      162
Watford                     152
Brentford                   124
Sheffield United            114
Nottingham Forest            86
Leeds United                 76
Norwich City                 76
West Bromwich Albion         76
Huddersfield Town            76
Luton Town                   38
Cardiff City                 38
Swansea City                 38
Stoke City                   38
Ipswich Town                 10
Name: count, dtype: int64

In [14]:
df['round'].value_counts()

round
Matchweek 1     159
Matchweek 3     159
Matchweek 4     159
Matchweek 5     159
Matchweek 6     159
Matchweek 7     159
Matchweek 8     159
Matchweek 9     159
Matchweek 10    159
Matchweek 2     159
Matchweek 32    139
Matchweek 27    139
Matchweek 28    139
Matchweek 30    139
Matchweek 31    139
Matchweek 37    139
Matchweek 33    139
Matchweek 29    139
Matchweek 35    139
Matchweek 36    139
Matchweek 18    139
Matchweek 34    139
Matchweek 26    139
Matchweek 21    139
Matchweek 25    139
Matchweek 24    139
Matchweek 23    139
Matchweek 22    139
Matchweek 20    139
Matchweek 19    139
Matchweek 17    139
Matchweek 16    139
Matchweek 15    139
Matchweek 14    139
Matchweek 13    139
Matchweek 12    139
Matchweek 11    139
Matchweek 38    139
Name: count, dtype: int64

In [15]:
df.dtypes

date                  object
time                  object
comp                  object
round                 object
day                   object
                      ...
performance recov    float64
aerial duels won     float64
aerial duels lost    float64
season                object
team                  object
Length: 135, dtype: object

In [16]:
df['round'] = df['round'].str.replace('Matchweek ', '')
df['date'] = pd.to_datetime(df['date'])
df.drop(columns=['comp'], inplace=True)
df.head()

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,performance int,performance tklw,performance pkwon,performance pkcon,performance og,performance recov,aerial duels won,aerial duels lost,season,team
0,2024-08-17,12:30,1,Sat,Away,W,2.0,0.0,Ipswich Town,2.6,...,5.0,4.0,0.0,0.0,0.0,40.0,18.0,11.0,2024-2025,Liverpool
1,2024-08-25,16:30,2,Sun,Home,W,2.0,0.0,Brentford,2.5,...,7.0,10.0,0.0,0.0,0.0,47.0,6.0,8.0,2024-2025,Liverpool
2,2024-09-01,16:00,3,Sun,Away,W,3.0,0.0,Manchester Utd,1.8,...,10.0,17.0,0.0,0.0,0.0,53.0,13.0,5.0,2024-2025,Liverpool
3,2024-09-14,15:00,4,Sat,Home,L,0.0,1.0,Nott'ham Forest,0.9,...,11.0,8.0,0.0,0.0,0.0,47.0,21.0,12.0,2024-2025,Liverpool
4,2024-09-21,15:00,5,Sat,Home,W,3.0,0.0,Bournemouth,2.0,...,6.0,14.0,0.0,0.0,0.0,44.0,9.0,6.0,2024-2025,Liverpool

In [ ]:
df['venue'] = df['venue'].astype('category').cat.codes
df['opponent'] = df['opponent'].astype('category').cat.codes

In [18]:
df['time'] = df['time'].str.replace(':.+', '', regex=True).astype(int)
df['day'] = df['date'].dt.dayofweek
df.head()

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,performance int,performance tklw,performance pkwon,performance pkcon,performance og,performance recov,aerial duels won,aerial duels lost,season,team
0,2024-08-17,12,1,5,0,W,2.0,0.0,12,2.6,...,5.0,4.0,0.0,0.0,0.0,40.0,18.0,11.0,2024-2025,Liverpool
1,2024-08-25,16,2,6,1,W,2.0,0.0,3,2.5,...,7.0,10.0,0.0,0.0,0.0,47.0,6.0,8.0,2024-2025,Liverpool
2,2024-09-01,16,3,6,0,W,3.0,0.0,18,1.8,...,10.0,17.0,0.0,0.0,0.0,53.0,13.0,5.0,2024-2025,Liverpool
3,2024-09-14,15,4,5,1,L,0.0,1.0,21,0.9,...,11.0,8.0,0.0,0.0,0.0,47.0,21.0,12.0,2024-2025,Liverpool
4,2024-09-21,15,5,5,1,W,3.0,0.0,2,2.0,...,6.0,14.0,0.0,0.0,0.0,44.0,9.0,6.0,2024-2025,Liverpool

In [19]:
df['target'] = df['result'].apply(lambda x: 1 if x == 'W' else 0)
df.head()

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,performance tklw,performance pkwon,performance pkcon,performance og,performance recov,aerial duels won,aerial duels lost,season,team,target
0,2024-08-17,12,1,5,0,W,2.0,0.0,12,2.6,...,4.0,0.0,0.0,0.0,40.0,18.0,11.0,2024-2025,Liverpool,1
1,2024-08-25,16,2,6,1,W,2.0,0.0,3,2.5,...,10.0,0.0,0.0,0.0,47.0,6.0,8.0,2024-2025,Liverpool,1
2,2024-09-01,16,3,6,0,W,3.0,0.0,18,1.8,...,17.0,0.0,0.0,0.0,53.0,13.0,5.0,2024-2025,Liverpool,1
3,2024-09-14,15,4,5,1,L,0.0,1.0,21,0.9,...,8.0,0.0,0.0,0.0,47.0,21.0,12.0,2024-2025,Liverpool,0
4,2024-09-21,15,5,5,1,W,3.0,0.0,2,2.0,...,14.0,0.0,0.0,0.0,44.0,9.0,6.0,2024-2025,Liverpool,1

In [20]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=50, min_samples_split=10, random_state=42)

In [23]:
train = df[df['date'] < '2022-01-01']
test = df[df['date'] >= '2022-01-01']

In [21]:
predictors = ['venue', 'opponent', 'time', 'day']

In [24]:
rf.fit(train[predictors], train['target'])

RandomForestClassifier(min_samples_split=10, n_estimators=50, random_state=42)

In [25]:
preds = rf.predict(test[predictors])

In [26]:
from sklearn.metrics import accuracy_score

acc = accuracy_score(test['target'], preds)
acc

0.5894039735099338

In [27]:
combined = pd.DataFrame(dict(actual=test['target'], predicted=preds))
combined.head()

   actual  predicted
0       1          1
1       1          0
2       1          0
3       0          1
4       1          1

In [28]:
pd.crosstab(combined['actual'], combined['predicted'])

predicted    0    1
actual
0          952  341
1          527  294

In [29]:
from sklearn.metrics import precision_score

precision_score(test['target'], preds)

0.462992125984252

In [30]:
grouped_matches = df.groupby('team')
group = grouped_matches.get_group('Manchester United')
group.head()

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,performance tklw,performance pkwon,performance pkcon,performance og,performance recov,aerial duels won,aerial duels lost,season,team,target
120,2024-08-16,20,1,4,1,W,1.0,0.0,10,2.4,...,14.0,0.0,0.0,0.0,58.0,19.0,16.0,2024-2025,Manchester United,1
121,2024-08-24,12,2,5,0,L,1.0,2.0,4,1.4,...,11.0,0.0,0.0,0.0,50.0,6.0,8.0,2024-2025,Manchester United,0
122,2024-09-01,16,3,6,1,L,0.0,3.0,15,1.4,...,20.0,0.0,0.0,0.0,51.0,5.0,13.0,2024-2025,Manchester United,0
123,2024-09-14,12,4,5,0,W,3.0,0.0,23,2.6,...,13.0,0.0,1.0,0.0,45.0,7.0,4.0,2024-2025,Manchester United,1
124,2024-09-21,17,5,5,0,D,0.0,0.0,8,1.6,...,8.0,0.0,0.0,0.0,44.0,18.0,13.0,2024-2025,Manchester United,0

In [31]:
def rolling_avg(group, cols, new_cols):
    group = group.sort_values('date')
    rolling_stats = group[cols].rolling(3, closed='left').mean()
    group[new_cols] = rolling_stats
    group = group.dropna(subset=new_cols)
    return group

In [32]:
df.columns

Index(['date', 'time', 'round', 'day', 'venue', 'result', 'gf', 'ga',
       'opponent', 'xg',
       ...
       'performance tklw', 'performance pkwon', 'performance pkcon',
       'performance og', 'performance recov', 'aerial duels won',
       'aerial duels lost', 'season', 'team', 'target'],
      dtype='object', length=135)

In [46]:
cols = ['gf', 'ga', 'standard sh', 'standard sot', 'standard dist', 
        'standard fk', 'standard pk', 'standard pkatt']
new_cols = [f'{c}_rolling' for c in cols]

In [47]:
new_cols

['gf_rolling',
 'ga_rolling',
 'standard sh_rolling',
 'standard sot_rolling',
 'standard dist_rolling',
 'standard fk_rolling',
 'standard pk_rolling',
 'standard pkatt_rolling']

In [48]:
object_columns = df.select_dtypes(include='object').columns
object_columns

Index(['round', 'result', 'captain', 'formation', 'opp formation', 'referee',
       'match report', 'season', 'team'],
      dtype='object')

In [49]:
rolling_avg(group, cols, new_cols)

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,team,target,gf_rolling,ga_rolling,standard sh_rolling,standard sot_rolling,standard dist_rolling,standard fk_rolling,standard pk_rolling,standard pkatt_rolling
4763,2017-09-09,17,4,5,0,D,2.0,2.0,24,2.1,...,Manchester United,0,3.333333,0.000000,19.666667,6.333333,18.733333,0.666667,0.000000,0.333333
4764,2017-09-17,16,5,6,1,W,4.0,0.0,9,2.9,...,Manchester United,1,2.666667,0.666667,18.666667,7.333333,18.633333,1.000000,0.000000,0.333333
4765,2017-09-23,15,6,5,0,W,1.0,0.0,23,1.2,...,Manchester United,1,2.666667,0.666667,18.000000,6.666667,17.766667,1.333333,0.333333,0.666667
4766,2017-09-30,15,7,5,1,W,4.0,0.0,8,2.8,...,Manchester United,1,2.333333,0.666667,14.000000,6.000000,16.933333,1.333333,0.333333,0.333333
4767,2017-10-14,12,8,5,0,D,0.0,0.0,15,0.2,...,Manchester United,0,3.000000,0.000000,14.000000,5.666667,15.600000,1.000000,0.333333,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,2024-09-29,16,6,6,1,L,0.0,3.0,26,1.0,...,Manchester United,0,1.000000,1.000000,14.333333,6.333333,15.633333,0.000000,0.000000,0.000000
126,2024-10-06,14,7,6,0,D,0.0,0.0,1,0.6,...,Manchester United,0,1.000000,1.000000,15.333333,6.000000,15.466667,0.000000,0.000000,0.000000
127,2024-10-19,15,8,5,1,W,2.0,1.0,3,1.3,...,Manchester United,1,0.000000,1.000000,12.000000,4.000000,16.833333,0.333333,0.000000,0.000000
128,2024-10-27,14,9,6,0,L,1.0,2.0,29,2.3,...,Manchester United,0,0.666667,1.333333,14.666667,5.666667,18.433333,0.333333,0.000000,0.000000
129,2024-11-03,16,10,6,1,D,1.0,1.0,7,2.0,...,Manchester United,0,1.000000,1.000000,17.000000,6.666667,19.400000,0.666667,0.000000,0.000000

In [53]:
matches_rolling = df.groupby('team').apply(rolling_avg, cols, new_cols)
matches_rolling

C:\Users\admin\AppData\Local\Temp\ipykernel_27404\2123473673.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  matches_rolling = df.groupby('team').apply(rolling_avg, cols, new_cols)

                                   date  time round  day  venue result   gf  \
team
Arsenal                 4915 2017-09-09    15     4    5      1      W  3.0
                        4916 2017-09-17    13     5    6      0      D  0.0
                        4917 2017-09-25    20     6    0      1      W  2.0
                        4918 2017-10-01    12     7    6      1      W  2.0
                        4919 2017-10-14    17     8    5      0      L  1.0
...                                 ...   ...   ...  ...    ...    ...  ...
Wolverhampton Wanderers 195  2024-09-28    17     6    5      1      L  1.0
                        196  2024-10-05    15     7    5      0      L  3.0
                        197  2024-10-20    14     8    6      1      L  1.0
                        198  2024-10-26    15     9    5      0      D  2.0
                        199  2024-11-02    17    10    5      1      D  2.0

                               ga  opponent   xg  ...  \
team                                              ...
Arsenal                 4915  0.0         2  2.2  ...
                        4916  0.0         7  1.4  ...
                        4917  0.0        28  2.2  ...
                        4918  0.0         4  2.4  ...
                        4919  2.0        27  1.0  ...
...                           ...       ...  ...  ...
Wolverhampton Wanderers 195   2.0        15  0.6  ...
                        196   5.0         3  1.0  ...
                        197   2.0        17  0.8  ...
                        198   2.0         4  1.3  ...
                        199   2.0         8  1.5  ...

                                                 team  target  gf_rolling  \
team
Arsenal                 4915                  Arsenal       1    1.333333
                        4916                  Arsenal       0    1.000000
                        4917                  Arsenal       1    1.000000
                        4918                  Arsenal       1    1.666667
                        4919                  Arsenal       0    1.333333
...                                               ...     ...         ...
Wolverhampton Wanderers 195   Wolverhampton Wanderers       0    1.000000
                        196   Wolverhampton Wanderers       0    1.000000
                        197   Wolverhampton Wanderers       0    1.666667
                        198   Wolverhampton Wanderers       0    1.666667
                        199   Wolverhampton Wanderers       0    2.000000

                             ga_rolling standard sh_rolling  \
team
Arsenal                 4915   2.666667           17.666667
                        4916   1.666667           14.333333
                        4917   1.333333           12.000000
                        4918   0.000000           14.333333
                        4919   0.000000           17.000000
...                                 ...                 ...
Wolverhampton Wanderers 195    2.000000           11.000000
                        196    2.333333           10.000000
                        197    3.333333           11.666667
                        198    3.000000            9.333333
                        199    3.000000           11.333333

                             standard sot_rolling standard dist_rolling  \
team
Arsenal                 4915             5.333333             18.133333
                        4916             5.000000             16.766667
                        4917             3.666667             16.566667
                        4918             5.333333             17.400000
                        4919             5.000000             18.333333
...                                           ...                   ...
Wolverhampton Wanderers 195              3.666667             16.933333
                        196              4.000000             17.666667
                        197              4.333333             19.566667
                        198              3.666667             20.466667
                        199              5.000000             16.800000

                             standard fk_rolling  standard pk_rolling  \
team
Arsenal                 4915            0.000000             0.000000
                        4916            0.333333             0.000000
                        4917            0.333333             0.000000
                        4918            1.333333             0.333333
                        4919            1.666667             0.333333
...                                          ...                  ...
Wolverhampton Wanderers 195             0.000000             0.000000
                        196             0.000000             0.000000
                        197             0.000000             0.000000
                        198             0.000000             0.000000
                        199             0.000000             0.000000

                              standard pkatt_rolling
team
Arsenal                 4915                0.000000
                        4916                0.000000
                        4917                0.000000
                        4918                0.333333
                        4919                0.333333
...                                              ...
Wolverhampton Wanderers 195                 0.000000
                        196                 0.000000
                        197                 0.000000
                        198                 0.000000
                        199                 0.000000

[5380 rows x 143 columns]

In [54]:
matches_rolling = matches_rolling.reset_index(drop=True)
matches_rolling

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,team,target,gf_rolling,ga_rolling,standard sh_rolling,standard sot_rolling,standard dist_rolling,standard fk_rolling,standard pk_rolling,standard pkatt_rolling
0,2017-09-09,15,4,5,1,W,3.0,0.0,2,2.2,...,Arsenal,1,1.333333,2.666667,17.666667,5.333333,18.133333,0.000000,0.000000,0.000000
1,2017-09-17,13,5,6,0,D,0.0,0.0,7,1.4,...,Arsenal,0,1.000000,1.666667,14.333333,5.000000,16.766667,0.333333,0.000000,0.000000
2,2017-09-25,20,6,0,1,W,2.0,0.0,28,2.2,...,Arsenal,1,1.000000,1.333333,12.000000,3.666667,16.566667,0.333333,0.000000,0.000000
3,2017-10-01,12,7,6,1,W,2.0,0.0,4,2.4,...,Arsenal,1,1.666667,0.000000,14.333333,5.333333,17.400000,1.333333,0.333333,0.333333
4,2017-10-14,17,8,5,0,L,1.0,2.0,27,1.0,...,Arsenal,0,1.333333,0.000000,17.000000,5.000000,18.333333,1.666667,0.333333,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5375,2024-09-28,17,6,5,1,L,1.0,2.0,15,0.6,...,Wolverhampton Wanderers,0,1.000000,2.000000,11.000000,3.666667,16.933333,0.000000,0.000000,0.000000
5376,2024-10-05,15,7,5,0,L,3.0,5.0,3,1.0,...,Wolverhampton Wanderers,0,1.000000,2.333333,10.000000,4.000000,17.666667,0.000000,0.000000,0.000000
5377,2024-10-20,14,8,6,1,L,1.0,2.0,17,0.8,...,Wolverhampton Wanderers,0,1.666667,3.333333,11.666667,4.333333,19.566667,0.000000,0.000000,0.000000
5378,2024-10-26,15,9,5,0,D,2.0,2.0,4,1.3,...,Wolverhampton Wanderers,0,1.666667,3.000000,9.333333,3.666667,20.466667,0.000000,0.000000,0.000000
5379,2024-11-02,17,10,5,1,D,2.0,2.0,8,1.5,...,Wolverhampton Wanderers,0,2.000000,3.000000,11.333333,5.000000,16.800000,0.000000,0.000000,0.000000

In [55]:
def make_predictions(data, predictors):
    train = data[data['date'] < '2022-01-01']
    test = data[data['date'] >= '2022-01-01']
    rf.fit(train[predictors], train['target'])
    preds = rf.predict(test[predictors])
    combined = pd.DataFrame(dict(actual=test['target'], predicted=preds), index=test.index)
    precision = precision_score(test['target'], preds)
    return combined, precision

In [57]:
combined, precision = make_predictions(matches_rolling, predictors + new_cols)

In [59]:
precision

0.551433389544688

In [ ]:
combined = combined.merge()

In [ ]:
# encode team
from sklearn.preprocessing import LabelEncoder

unique_teams = pd.concat([df['opponent'], df['team']]).unique()
team_encoder = LabelEncoder()
team_encoder.fit(unique_teams)
df['opponent'] = team_encoder.transform(df['opponent'])
df['team'] = team_encoder.transform(df['team'])
df.head()

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

columns_to_encode = ['venue', 'referee', 'captain', 'day']

In [1]:
# Số kỳ thủ
num_players = 8

# Danh sách trận đấu chưa diễn ra
matches = [
    (1, 2), (1, 5), (1, 6), (1, 7), (1, 8),
    (2, 3), (2, 5), (2, 6), (2, 7), (2, 8),
    (3, 5), (3, 6), (3, 7), (3, 8),
    (4, 5), (4, 6),
    (5, 7),
    (6, 7), (6, 8),
    (7, 8)
]

# Đồ thị để lưu các cạnh giữa các trận có chung kỳ thủ
graph = {match: [] for match in matches}

# Tạo cạnh giữa các trận có chung kỳ thủ
for i in range(len(matches)):
    for j in range(i + 1, len(matches)):
        match1 = matches[i]
        match2 = matches[j]
        if match1[0] in match2 or match1[1] in match2:
            graph[match1].append(match2)
            graph[match2].append(match1)

# Dùng thuật toán tham lam để tô màu các đỉnh (trận đấu) của đồ thị
colors = {}
for match in matches:
    # Tìm màu khả dụng
    used_colors = {colors[neighbor] for neighbor in graph[match] if neighbor in colors}
    # Chọn màu nhỏ nhất không bị trùng
    color = 1
    while color in used_colors:
        color += 1
    colors[match] = color

# Kết quả: Số buổi thi đấu là số màu lớn nhất
num_sessions = max(colors.values())
print("Số buổi thi đấu tối thiểu:", num_sessions)

# Hiển thị lịch thi đấu
schedule = [[] for _ in range(num_sessions)]
for match, color in colors.items():
    schedule[color - 1].append(match)

for i, session in enumerate(schedule, 1):
    print(f"Buổi {i}: {session}")

Số buổi thi đấu tối thiểu: 7
Buổi 1: [(1, 2), (3, 5), (4, 6), (7, 8)]
Buổi 2: [(1, 5), (2, 3), (6, 7)]
Buổi 3: [(1, 6), (2, 5), (3, 7)]
Buổi 4: [(1, 7), (2, 6), (3, 8), (4, 5)]
Buổi 5: [(1, 8), (2, 7), (3, 6)]
Buổi 6: [(2, 8), (5, 7)]
Buổi 7: [(6, 8)]